

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/login" method="post" autocomplete="off">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">
                        Formatura UFSM<br>
                        Engenharia Sanitária e Ambiental<br>
                        Milena C. Tisoco</h5>
                    <div class="form-group">
                        <input type="text" name="password" id="key" class="form-control" placeholder="Código de acesso as informações" style="text-align: center;">
                        <br>
                        <input type="submit" id="btn-login" class="btn btn-success btn-custom btn-lg btn-block" value="Acessar Informações">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <p class="text-center text-md-left" style="font-size: 9pt;">
                    <a href="https://www.facebook.com/diovane.soligo" title="Desenvolvido por Diovane Soligo" target="_blank">
                        <strong><i> DidiWeb </i></strong>
                    </a> © 2019 Copyright
                </p>
            </div>
        </div>
    </div>
</div>

