<video autoplay muted loop id="myVideo">
    <source src="video/EarthSun.mp4" type="video/mp4">
</video>
<section id="intro" class="content">
    <div class="intro-container">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <p class="animated media wow fadeInLeftBig" >O site que faltava para você ou sua empresa está aqui!!!</p>
                            <h2 class="animated media wow fadeInRight">DidiWeb.com.br</h2>
                            <p class="animated media wow fadeInUpBig" >
                                <b>Whatsapp:</b> <a style="color: white" href="https://api.whatsapp.com/send?phone=555491625251" target="_blank"> Envie uma mensagem</a><br>
                                <b>Telefone:</b> <a style="color: white" href="tel:+5554991625251"> (54) 9 9162-5251 </a><br>
                                <b>E-mail:</b> <a style="color: white" href="mailto:diovane.soligo92@gmail.com">diovane.soligo92@gmail.com</a><br>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>







