<video autoplay muted loop id="myVideo">
    <source src="video/video.mov" type="video/mp4">
</video>
<section id="intro" class="content">
    <div class="intro-container">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated media wow fadeInLeftBig">DidiWeb.com.br</h2>
                            <p class="animated media wow fadeInRight" >O site que faltava para você ou sua empresa está aqui!!!</p>

                            <div class="animated media wow fadeInUpBig">
                                <h1 style="color: white"> CONTATO</h1>
                                Telefone: <a href="tel:+5554991799758"> (54) 9 9162-5251 </a><br>
                                Whatsapp: <a href="https://api.whatsapp.com/send?phone=555491625251" target="_blank"> Envie uma mensagem</a><br>
                                E-mail: <a href="mailto:diovane.soligo92@gmail.com">diovane.soligo92@gmail.com</a><br>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>







