<!-- Navigation -->

<!-- intro area -->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">


                <div class="item active">
                    <div class="carousel-background"><img src="img/IMG_5753.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated">Milena C. Tisoco</h2>
                            <p class="animated">FORMATURA<br>Engenharia Sanitária e Ambiental - UFSM</p>
                            <a href="#about" data-toggle="modal" data-target="#login-modal" title="Acessar informações sobre a formatura" class="btn-get-started animated">Acessar Informações <i class="fa fa-sign-in"></i></a>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="carousel-background"><img src="img/IMG_1502.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated">Milena C. Tisoco</h2>
                            <p class="animated">FORMATURA<br>Engenharia Sanitária e Ambiental - UFSM</p>
                            <a href="#about" data-toggle="modal" data-target="#login-modal" title="Acessar informações sobre a formatura" class="btn-get-started animated">Acessar Informações <i class="fa fa-sign-in"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>







