<!DOCTYPE html>
<html lang="pt">
<html>
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>..:: DidiWeb.com.br ::..</title>
    <link rel="shortcut icon" href="img/icon.png">

    <!-- Descrição -->
    <meta name="author" content="Diovane Soligo">
    <meta name="description" content="Sites, desenvolvimento web, sistemas web">

    <!-- og -->
    <meta property="og:image" content="img/logo.jpg">
    <meta property="og:description" content="DidiWeb.com.br">
    <meta property="og:title" content="O site que faltava para você ou sua empresa está aqui">

    <!-- Bootstrap -->
    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800" rel="stylesheet" media="screen">

    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
    <link href="color/default.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/ionicons.min.css" />
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        /* Style the video: 100% width and height to cover the entire window */
        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }

        /* Add some content at the bottom of the video/page */
        .content {
            position: fixed;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 100%;
        }


    </style>

</head>
<body>