<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <div class="carousel-background"><img src="img/_DSC9294.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated">Recepção</h2>
                            <p class="animated" style="width: 100%; font-size: 20px">
                                24/08/2019 às 21:00
                            </p>
                            <p class="animated" style="width: 100%; font-size: 20px">
                                Clube Comercial
                            </p>
                            <p class="animated" style="width: 100%;">
                                R. Venâncio Aires, nº1972 <br>
                                Centro, Santa Maria - RS, 97010-004
                            </p>
                            <a href="#about" data-toggle="modal" data-target="#recepcao-modal" title="Ver localização" class="btn-get-started animated"> <i class="fa fa-map"></i> Localização da Recepção</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<div class="modal fade" id="recepcao-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">Ative seu GPS e clique em (Visualizar mapa ampliado)
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27729.85569379058!2d-53.81191836256718!3d-29.68405385000383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9503cb41ef5e4817%3A0xeaa1bbd47a3886b3!2sClube+Comercial!5e0!3m2!1spt-BR!2sbr!4v1560133043561!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="modal-footer">
                <p class="text-center text-md-left" style="font-size: 9pt;">
                    <a title="Desenvolvido por Diovane Soligo" target="_blank">
                        <strong><i> DidiWeb </i></strong>
                    </a> © 2019 Copyright
                </p>
            </div>
        </div>
    </div>
</div>

